# Data Encoding - Disaster Dataset

### Encode 3 different categorical columns in this dataset using scikit-learn techniques, OneHotEncoding and OrdinalEncoding

In [4]:
import os 
import pandas as pd 
import numpy as np
from sklearn.preprocessing import OrdinalEncoder, OneHotEncoder

In [8]:
path = r"C:\Users\jaded\Desktop"
os.chdir(path)
sourcefiles = os.listdir(path)
df = pd.read_excel("public_emdat_project.xlsx")

In [23]:
df_clone = df.copy()
df_clone2 = df.copy()

#### Ordinal Encoding

In [25]:
ord_encoder2 = OrdinalEncoder()
df_clone2['Region'] = ord_encoder2.fit_transform(df_clone2[['Disaster Type']])
df_clone2[['Disaster Type','Region']].head(5)

  Disaster Type  Region
0       Drought     5.0
1       Drought     5.0
2       Drought     5.0
3          Road    26.0
4         Flood    13.0

#### Ordinal Encoding

In [21]:
ord_encoder = OrdinalEncoder()
df_clone["Disaster Type Code"] = ord_encoder.fit_transform(df_clone[["Disaster Type"]])
df_clone[["Disaster Type", "Disaster Type Code"]].head(10)

          Disaster Type  Disaster Type Code
0               Drought                 5.0
1               Drought                 5.0
2               Drought                 5.0
3                  Road                26.0
4                 Flood                13.0
5   Extreme temperature                10.0
6                  Road                26.0
7                  Road                26.0
8  Fire (Miscellaneous)                12.0
9                  Road                26.0

#### One Hot Encoding

In [20]:
onehot_encoder_clone = df.copy()
onehot_encoder = OneHotEncoder()
onehot_results = onehot_encoder.fit_transform(onehot_encoder_clone[['Disaster Type']])
onehot_df = pd.DataFrame(onehot_results.toarray(), columns = onehot_encoder_clone["Disaster Type"].unique())

onehot_encoder_clone = onehot_encoder_clone.join(onehot_df)
df.head(10)

,DisNo.,Historic,Classification Key,Disaster Group,Disaster Subgroup,Disaster Type,Disaster Subtype,External IDs,Event Name,ISO,...,Reconstruction Costs ('000 US$),"Reconstruction Costs, Adjusted ('000 US$)",Insured Damage ('000 US$),"Insured Damage, Adjusted ('000 US$)",Total Damage,"Total Damage, Adjusted",CPI,Admin Units,Entry Date,Last Update
0,1999-9388-DJI,No,nat-cli-dro-dro,Natural,Climatological,Drought,Drought,NaN,NaN,DJI,...,NaN,NaN,NaN,NaN,NaN,NaN,58.111474,"[{""adm1_code"":1093,""adm1_name"":""Ali Sabieh""},{...",2006-03-01,2023-09-25
1,1999-9388-SDN,No,nat-cli-dro-dro,Natural,Climatological,Drought,Drought,NaN,NaN,SDN,...,NaN,NaN,NaN,NaN,NaN,NaN,56.514291,"[{""adm1_code"":2757,""adm1_name"":""Northern Darfu...",2006-03-08,2023-09-25
2,1999-9388-SOM,No,nat-cli-dro-dro,Natural,Climatological,Drought,Drought,NaN,NaN,SOM,...,NaN,NaN,NaN,NaN,NaN,NaN,56.514291,"[{""adm1_code"":2691,""adm1_name"":""Bay""},{""adm1_c...",2006-03-08,2023-09-25
3,2000-0001-AGO,No,tec-tra-roa-roa,Technological,Transport,Road,Road,NaN,NaN,AGO,...,NaN,NaN,NaN,NaN,NaN,NaN,56.514291,NaN,2004-10-27,2023-09-25
4,2000-0002-AGO,No,nat-hyd-flo-riv,Natural,Hydrological,Flood,Riverine flood,NaN,NaN,AGO,...,NaN,NaN,NaN,NaN,10000.0,17695.0,56.514291,"[{""adm2_code"":4214,""adm2_name"":""Baia Farta""},{...",2005-02-03,2023-09-25
5,2000-0003-BGD,No,nat-met-ext-col,Natural,Meteorological,Extreme temperature,Cold wave,NaN,NaN,BGD,...,NaN,NaN,NaN,NaN,NaN,NaN,56.514291,"[{""adm1_code"":575,""adm1_name"":""Barisal""},{""adm...",2003-07-01,2023-09-25
6,2000-0004-BRA,No,tec-tra-roa-roa,Technological,Transport,Road,Road,NaN,NaN,BRA,...,NaN,NaN,NaN,NaN,NaN,NaN,56.514291,NaN,2003-07-01,2023-09-25
7,2000-0005-CHN,No,tec-tra-roa-roa,Technological,Transport,Road,Road,NaN,NaN,CHN,...,NaN,NaN,NaN,NaN,NaN,NaN,56.514291,NaN,2005-02-09,2023-09-25
8,2000-0006-CHN,No,tec-mis-fir-fir,Technological,Miscellaneous accident,Fire (Miscellaneous),Fire (Miscellaneous),NaN,Hotel,CHN,...,NaN,NaN,NaN,NaN,NaN,NaN,56.514291,NaN,2003-07-01,2023-09-25
9,2000-0007-EGY,No,tec-tra-roa-roa,Technological,Transport,Road,Road,NaN,NaN,EGY,...,NaN,NaN,NaN,NaN,NaN,NaN,56.514291,NaN,2003-07-01,2023-09-25